* {
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	font-size: 62.5%;
	width: 100%;
}
/* basic style */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* input and button style */
div input,
div button {
	padding: 1rem;
	font-size: 1.6rem;
	margin: 1rem 0.5rem;
	border-radius: 0.9rem;
	border: none;
}

div input {
	border: 1px solid #ccc;
}

/* list style */
div ul {
	list-style: none;
}

#todoList li {
	padding: 1rem;
	font-size: 1.6rem;
	border: 1px solid #ccc;
	margin-bottom: 1rem;
	border-radius: 0.9rem;
}
